.jumbotron {
    margin-bottom: 0px;
    color: #426bda;

    background-image: url(../../images/memoryHeader3.jpg);
    background-repeat: repeat;
    padding: 30px 0px;
    font-family: 'Muli', sans-serif;

}


header > h1 {
    color: #2c4c7c;
    padding: 5px;
    font-family: 'Cinzel Decorative', cursive;
}