.jumbotron {
    margin-bottom: 0px;
    color: #333;
    background-image: url(../../images/memoryHeader.jpg);
    background-repeat: no-repeat;
    padding: 30px 0px;
}

header > h1 {
    color: #f3dddd;
}